<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/mosin/IdeaProjects/HybridFramework">
        <classes>
            <class name="com.learnautomation.testcases.loginTestCRM">
                <methods>
                    <include name="loginApp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>